{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="container offset-md-1 text-center bg-fade">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                {% if items_in_bag %}
                <div class="table-responsive rounded">
                    <table class="table table-sm  table-hover">
                        <thead class="view-headers-2">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in items_in_bag %}
                        <tbody class="table-group-divider">
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" style="max-width: 130px;"
                                        src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 view-txt"><strong>{{ item.product.title }}</strong></p>
                                    <p class="my-0 view-txt">By: {{ item.product.author }}</p>
                                    <p class="my-0 view-txt">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="my-0 view-txt">ISBN-13: {{ item.product.ISBN|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 view-txt">${{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="take-qty btn rounded-0 nav-txt"
                                                    data-item_id="{{ product.id }}" id="take-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number" name="quantity"
                                                value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="add-qty btn rounded-0 nav-txt"
                                                    data-item_id="{{ product.id }}" id="add-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                        data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 view-txt"></p>
                                </td>
                            </tr>
                            
                        </tbody>
                        {% endfor %}
                        <tbody class="table-group-divider">
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ overal_total|floatformat:2 }}</strong>
                                    </h4>
                                    {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just
                                        <strong>${{ free_delivery_difference }}</strong> more!
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="table-group-divider">
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-arrow-left fa-md"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-account rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}