@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yatra+One&family=Zilla+Slab&display=swap');
:root{

    /* Fonts */
    --logo:'Shadows Into Light', serif;
    --nav: 'Zilla Slab', serif;
    --delivery: 'Yatra One', serif;
    --account-txt:'Zilla Slab', serif, arial;

    /* Colours */
    --banners: #000000;
    --banner-txt: #ffffff;
    --nav-txt: #000000;
    --nav-hover: #ff0000;
    --nav-bar: #777777;
    --account-btn-txt: #000000;
    --login-txt: #000000;
    --bg-fade: #ffffffc2;
    --side-nav: #ffffff;
}

body{
    background: url(../images/background-image.webp) no-repeat center;
    background-attachment:fixed;
}

/* header */

.logo {
    font-family: var(--logo);
    font-size: 2rem;
    font-weight: 600;
}

.nav-bg{
    background-color: var(--nav-bar);
}

.nav-txt{
    color: var(--nav-txt);
    font-family: var(--nav);
    font-size: 1.15rem;
}

.nav-txt:hover{
    color: var(--nav-hover);
}

.nav-btn{
    background-color: #ffffff;
}

.nav-btn:hover{
    background-color: var(--nav-hover);
}

.delivery-banner{
    background-color: var(--banners);
    color: var(--banner-txt);
    font-family: var(--delivery);
    font-size: 1rem;
}


/* footer */

footer{
    background-color: var(--nav-bar);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
}

footer a{
    padding-top: 10px;
}

footer a:hover{
    background-color: var(--nav-hover);
}

/* Account Logins */

.bg-fade{
    background-color: var(--bg-fade);
}

.account-login{
    font-family: var(--logo);
    font-weight: 800;
    font-size: 3rem;
}

.login, .sign-up{
    background-color: var(--login-bg);
}

.login-txt, .login{
    font-size: 1.2rem;
}

.sign-up{
    font-size: 1rem;
}

.login-txt, .login, .sign-up{
    font-family: var(--account-txt);
    color: var(--login-txt);
    
}

.btn-account, .btn-sign-up:hover{
    border: #ff0000 ridge 3px ;
    font-family: var(--account-txt);
    font-weight: 600;
    font-size: 1.15rem;
    background-color: #8f8888;
    color: var(--account-btn-txt);

}

.btn-sign-up, .btn-account:hover{
    border: #001aff ridge 3px ;
    font-family: var(--account-txt);
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--account-btn-txt);
    background-color: #8f8888;
    text-decoration: none;
}
/* Generic */

.headers{
    font-family: var(--logo), sans-serif, Arial;
    font-weight: 600;
    font-size: 3rem;
}

.card{
    min-width: 150px;
    max-width: 150px;
    height: 150px;
}
/* Contact */

.form-labels{
    font-family: var(--account-txt);
    font-weight: 300;
    font-size: 1rem;
}

.about-txt{
    font-family: var(--account-txt);
    font-size: 1.15rem;
}

@media (min-width: 600px) {
    .login{
        width: 400px;
    }
    .email-Verify  {
        width: 600px;
    }
}

@media (min-width: 800px) {
    .sign-up, .contact-info, .about{
        width:600px;
    }
}

@media (min-width: 950px) {
}