{% load static %}
<header class="container-fluid sticky-top">
    <div id="topnav" class="row d-none d-md-flex nav-bg ">
        <div class="col-12 col-md-4 py-1">
            <a href="{% url 'home' %}" class="nav-link p-0 nav-txt">
                <h1 class="logo">Ruby's</h1>
            </a>
        </div>
        <div class="col-12 col-md-4 mt-1 pt-1">
            <form method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search our site">
                    <div>
                        <button class="btn nav-txt" type="submit">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4 d-md-flex justify-content-end pt-1">
            <ul class="list-inline list-unstyled my-0 d-md-flex gap-md-4">
                <li class="list-inline-item dropdown">
                    <a class="nav-link" href="#" id="account-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center nav-txt">
                            <div><i class="fas fa-user fa-md"></i></div>
                            <p class="my-0 ">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0 " aria-labelledby="account-options">
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="">
                        <div class="text-center nav-txt">
                            <div><i class="fas fa-shopping-bag fa-md"></i></div>
                            <p class="my-0">
                                $0.00
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row delivery-banner w-110 my-0">
        <marquee behavior="scroll" direction="left" scrollamount="5">
            <h4 class="m-0 p-1">Free delivery on orders over €15
                Free delivery on orders over €15
                Free delivery on orders over €15
                Free delivery on orders over €15
                Free delivery on orders over €15
                Free delivery on orders over €15
                Free delivery on orders over €15 </h4>
        </marquee>
    </div>
    <div class="row nav-bg ps-2 my-0">
        <nav class="navbar navbar-expand-md my-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
                aria-controls="navbarOffcanvasLg">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
</header>