<ul class="navbar-nav p-0">
    <li class="nav-item d-none d-md-block pb-4">
        <a href="{% url 'home' %}" class="nav-link p-0 nav-txt">
            <h1 class="logo">Ruby's</h1>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}">
            All Books
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=children" id="all-books-link">
            Childrens Books
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=teen">
            Teen Books
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=adult">
            Adult Books
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=cooking">
            Cook Books
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=biographies">
            Biographies
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=technology">
            Technology
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=health">
            Health
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=business">
            Business
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=home_garden">
            Home & Garden
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=science">
            Science
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=history">
            History
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=music">
            Music
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=sports">
            Sport
        </a>
    </li>
    <li class="nav-item">
        <a class=" nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'products' %}?category=poetry">
            Poetry
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'about' %}">
            About Us
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="{% url 'contact' %}">
            Contact Us
        </a>
    </li>
    <li class="nav-item dropdown d-block d-md-none">
        <a class="nav-link nav-txt my-0 ms-md-0 p-0 " href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            My Account
        </a>
        <ul class="dropdown-menu border-0">
            {% if request.user.is_authenticated %}
            <li><a href="" class="dropdown-item">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
            {% endif %}
        </ul>
    </li>
    <li class="list-inline-item d-none d-md-block">
        <a class="nav-link" href="{% url 'shopping_cart' %}">
            <div class="text-left nav-txt">
            <p class="my-0"> 
            {% if overal_total %}
            ${{ overal_total|floatformat:2 }}
            {% else %}
            €0.00
            {% endif %}
            <i class="fas fa-shopping-bag fa-sm"></i></p>
            </div>
        </a>
    </li>
</ul>
