{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
<section>
    <div class="container text-center rounded bg-fade mt-5 py-3">
        <h1 class="headers mb-3">Contact Us</h1>
        <div class="container text-center contact-form">
            <form onsubmit="return sendMail(this);">
                    <div class="input-group mb-3">
                        <span class="input-group-text form-labels" id="fullname">Full Name</span>
                        <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Full Name" aria-label="fullname" aria-describedby="fullname" required />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text form-labels" id="emailaddress">Email</span>
                        <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email Address" aria-label="emailaddress" aria-describedby="emailaddress" required />
                    </div>
                <div class="input-group mb-3 ">
                    <span class="input-group-text form-labels">Enquirey</span>
                    <textarea rows="5" class="form-control" aria-label="With textarea" id="message" placeholder="Enter Enquirey Here"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-account" value="Send">Send</button>
                </div>
            </form>
        </div>
        <div class="container bg-fade text-center contact-info">
            <p class="about-txt mt-3 mb-1 pb-0 pt-3">Ruby's Online Bookshop, Ballybunion, Ireland
            <p class="about-txt my-0 mb-1 py-0">E-Mail: <a href="mailto:rubysbooksonline@gmial.com">rubysbooksonline@gmial.com</a></p>
            <p class="about-txt mb-3 pb-3">www.rubys.ie</p>

        </div>
</section>
{% endblock %}