{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="container offset-md-1 text-center bg-fade">
    <div class="container m-0 p-0 pb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <hr class="mb-1">
                <h2 class="view-headers mb-1">{% for c in current_categories %}{{ c.friendly_name }}{% endfor %} Books
                </h2>
                <hr class="mb-1">
            </div>
        </div>
        {%include 'includes/sort.html'%}
        <hr class="mb-1">
        <div class="container d-flex flex-row flex-wrap gap-3 justify-content-center">
            {% for product in products %}
            <div class="card-md mt-3 p-md-1">
                <div class="card-body box-shadow p-3">
                    {% if product.image %}
                    <a href="{% url 'product_view' product.id %}">
                        <img class="card-img" src="{{ product.image.url }}" alt="{{ product.title }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_view' product.id %}">
                        <img class="card-img mb-4 pb-3" src="" alt="{{ product.title }}">
                    </a>
                    {% endif %}
                    <div class="card-body card-title bg-white pb-2  ">
                        <p class="mb-0 mb-1 pt-2 p-1">{{ product.title }}</p>
                    </div>
                    <div class="card-footer bg-white card-details pt-2">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                {% if product.category %}
                                <p class="small my-2">
                                    <a class="text-muted"
                                        href="{% url 'products' %}?category={{ product.category.name }}">
                                        {{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1 rating"></i>{{ product.rating }} /
                                    5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                <small class="ml-3 ms-3 ps-4">
                                    <a href="">Edit</a> |
                                    <a class="text-danger" href="">Delete</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    document.getElementById("price-up").addEventListener("click", ordering);
    document.getElementById("price-down").addEventListener("click", ordering);
    document.getElementById("rating-up").addEventListener("click", ordering);
    document.getElementById("rating-down").addEventListener("click", ordering);
    document.getElementById("title-up").addEventListener("click", ordering);
    document.getElementById("title-down").addEventListener("click", ordering);
    document.getElementById("author-up").addEventListener("click", ordering);
    document.getElementById("author-down").addEventListener("click", ordering);
    document.getElementById("category-up").addEventListener("click", ordering);
    document.getElementById("category-down").addEventListener("click", ordering);

    function ordering() {
        const selector = $(this);
        const thisUrl = new URL(window.location);
        const order = selector.val();
        if (order != "reset") {
            const sort = order.split("_")[0];
            const direction = order.split("_")[1];
            thisUrl.searchParams.set("sort", sort);
            thisUrl.searchParams.set("direction", direction);
            window.location.replace(thisUrl);
        } else {
            thisUrl.searchParams.delete("sort");
            thisUrl.searchParams.delete("direction");
            window.location.replace(thisUrl);
        }
    };
</script>
{% endblock %}